# SPDX-FileCopyrightText: 2025-present peppapig450 <peppapig450@pm.me>
#
# SPDX-License-Identifier: MIT

name: Test and Coverage
on:
    push:
    pull_request:
    workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
            enable-cache: true
            cache-dependency-glob: "uv.lock"

      - name: Install dependencies
        run: |
            uv sync --locked --all-extras --dev
        env:
            UV_SYSTEM_PYTHON: 1

      - name: Run tests with coverage
        run: |
          uv run pytest --cov=src tests/ --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
